@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.primary-button {
  color: #3D2300;
  background-color: #F58F29;
  border: 3px solid #F58F29;
  font-weight: 500;
  border-radius: 8px;
  transition: all 0.25s;
}
.primary-button:hover, .primary-button:active {
  transition: all .3s;
  border-color: #DE6F00;
  background-color: #DE6F00;
}

.secondary-button {
  color: #3D2300;
  background-color: rgba(255, 255, 255, 0.1);
  border: 3px solid #3D2300;
  font-weight: 500;
  border-radius: 8px;
  transition: all 0.25s;
}
.secondary-button:hover, .secondary-button:active {
  transition: all .3s;
  background-color: rgba(255, 255, 255, 0.8);
}

@media only screen and (max-width: 1199px) {
  .service__about{
   align-items: flex-start;
}
}
@media only screen and (max-width: 991px) {
  .service__img{
   width: 300px;
   height: 300px;
 }
.service__textblock .service__text{
   margin-bottom: 50px;
 }
}
@media only screen and (max-width: 767px) {
  .container .service__about{
    flex-direction: column;
    margin-bottom: 50px;
  }
  .service__img{
    width:100%;
    height:100%;
    margin-bottom: 20px;
  }
  .service__textblock .service__btn{
    width: 100%;
  }

}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(236, 236, 236);
}
body main {
  position: relative;
}
body:before {
  background: url("../img/Фон.jpg") center/cover;
  content: "";
  position: fixed;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.02;
}
body #myBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #3D2300;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 40px;
  box-shadow: 0px 4px 8px rgba(114, 97, 74, 0.16);
}
body #myBtn img {
  filter: invert(100%);
  transform: rotate(270deg);
  width: 20px;
}

@media only screen and (max-width: 575px) {
  .container {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
}
.section .section-head {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.065em;
    text-transform: uppercase;
    color: #3D2300;
  margin: 60px 0px 20px 0px;
}
.services-nav{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #3D2300;
margin-bottom: 40px;
}
.services-span{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #72614A;
}
.section .section-info {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #72614A;
    margin-bottom: 40px;
}

@media only screen and (max-width: 1399px) {
  header .bottom-nav a {
    font-size: 20px !important;
  }
}
@media only screen and (max-width: 767px) {
  header .top-nav .company-number,
header .top-nav .order-call-btn {
    display: none;
  }
  header .call-reveal {
    display: block;
  }
}
@media only screen and (max-width: 991px) {
  header .top-nav .logo-reveal {
    display: block !important;
  }
  header .top-nav .company-number,
header .top-nav .order-call-btn {
    display: none;
  }
  header .container-fluid {
    justify-content: space-between !important;
  }
  header .container-fluid li.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .container-fluid li.nav-item a {
    display: inline-block;
  }
  header .container-fluid .navbar-brand {
    display: none;
  }
  header .container-fluid .navbar-toggler {
    display: flex;
    font-size: 20px !important;
    line-height: 23px !important;
    letter-spacing: 0.065em !important;
    color: #E3E1DE;
    border: none !important;
  }
  header .container-fluid .navbar-toggler:focus {
    box-shadow: none !important;
  }
  header .container-fluid .navbar-toggler img {
    margin-right: 10px;
  }
  header .container-fluid .call-reveal {
    display: block !important;
  }
}
@media only screen and (max-width: 767px) {
  header .top-nav .company-adress p {
    font-size: 12px;
  }
}
@media only screen and (max-width: 477px) {
  header .top-nav {
    height: 5rem;
  }
  header .top-nav .company-adress p {
    font-size: 10px;
  }
  header .top-nav .company-adress img {
    width: 10px;
  }
  header .top-nav .company-name p {
    font-size: 14px !important;
  }
}
header .top-nav {
  height: 7rem;
  color: #3D2300;
}
.nav-link.link-services{
    color: #F58F29;
}
header .top-nav .company-name .logo-reveal {
  text-align: center;
  display: none;
}
header .top-nav .company-name .logo-reveal img {
  box-sizing: border-box;
  width: 50px;
}
header .top-nav p {
  font-size: 16px;
}
header .top-nav .company-name p,
header .top-nav .company-number p {
  font-weight: 700;
  font-size: 20px;
}
header .top-nav .working-time,
header .top-nav .company-email {
  margin-top: 5px;
}
header .top-nav .order-call-btn button {
  padding: 6px 12px;
}
header .bottom-nav {
  background-color: #3D2300;
}
header .bottom-nav .call-reveal {
  display: none;
}
header .bottom-nav .call-reveal .company-number {
  text-align: center;
  font-size: 12px;
  line-height: 14px;
  color: #E3E1DE;
  margin-bottom: 6px;
}
header .bottom-nav .call-reveal .company-number p {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .bottom-nav .call-reveal .company-number p img {
  margin-right: 6px;
}
header .bottom-nav .navbar-brand img {
  width: 80px;
  height: 80px;
}
header .bottom-nav a {
  color: #E3E1DE;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.065em;
  margin: 0 1.2rem;
}
header .bottom-nav a:hover {
  transition: all .3s;
  color: #F58F29;
}
header .bottom-nav .nav-search-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 20px;
  padding-left: 35px;
  width: 100%;
  height: 40px;
  background: #E3E1DE;
  border-radius: 8px;
  background: #E3E1DE url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

@media only screen and (max-width: 1399px) {
  footer .footer-menu a {
    font-size: 16px !important;
  }
}
@media only screen and (max-width: 991px) {
  footer .footer-contacts {
    font-size: 12px !important;
  }
  footer .footer-call .number {
    font-size: 14px;
  }
  footer .footer-call .call-button button {
    font-size: 14px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  footer .footer-logo .logo img {
    width: 60px;
  }
  footer .footer-menu a {
    font-size: 20px !important;
  }
}
@media only screen and (max-width: 767px) {
  footer .bottom-footer {
    font-size: 14px !important;
  }
}
@media only screen and (max-width: 450px) {
  footer .footer-menu a {
    font-size: 16px !important;
  }
}
footer {
  background-color: #3D2300;
  color: #E3E1DE;
  display: flex;
  align-items: center;
  padding: 31px 0;
}
footer .bottom-footer {
  color: #E3E1DE;
  margin-top: 40px;
  font-weight: 300;
  font-size: 18px;
}
footer .footer-call {
  text-align: center;
}
footer .footer-call .number {
  margin-bottom: 6px;
}
footer .footer-call button {
  padding: 6px 18px;
}
footer .footer-contacts {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
footer .footer-menu .col-lg-6 {
  display: flex;
  align-items: center;
}
footer .footer-menu a {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.065em;
  color: #E3E1DE;
  text-decoration: none;
}
footer .company-name {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
  letter-spacing: 0.065em;
  text-transform: uppercase;
}
footer .col-lg-3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer-logo {
  text-align: center;
  margin-bottom: 20px;
}
footer .footer-logo img {
  width: 80px;
}

.service-head.section-head {
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    letter-spacing: 0.065em;
    text-transform: uppercase;
    color: #3D2300;
  margin: 60px 0px 20px 0px;
}
.service-nav{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #3D2300;
margin-bottom: 40px;
}
.service-span{
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #72614A;
}
.service__img{
    display: inline-block;
    border: 5px solid #F5F5F5;
    border-radius: 16px;
    max-width: 100%;
    margin-right: 24px;
}

.service__about {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}
.service__textblock {
    display: flex;
    flex-direction: column;
    
}
.service__text {
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #72614A;
margin-bottom: 90px;
}
.service__maintext{
    margin-bottom: 30px;
}
.service__priceblock {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.service__pricetext {
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 21px;
color: #72614A;
margin-right: 16px;
}
.service__price {
    font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 28px;
color: #3D2300;
}
.nav-link.link-active{
  color: #F58F29;
}
.service__btn {
    width: 288px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 23px;
color: #3D2300;
    background: #F58F29;
border-radius: 8px;
border: none;
outline: none;
cursor: pointer;
}
.service__btn:hover{
    transition: all .3s;
  border-color: #DE6F00;
  background-color: #DE6F00;
}

 /*POPUP*/

 .popup {
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    transition: all 0.8s ease 0s;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    overflow: auto;       
    display: flex;
  justify-content: center;
  align-items: center;        
  }
  .popup__active {
    opacity: 1;
    visibility: visible;
  
  }
  .popup__main {
  margin-left: auto;
  margin-right: auto;
    height: 459px;
    width: 348px;
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: left;
  }
  .popup__wrapper {
  padding: 30px;
    position: relative;
  /*   background: url(../img/Фон.png) white; */
  border-radius: 16px;
  }
  .popup__close {
    position: absolute;
    top: 18px;
    right: 18px;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
  .popup__heading {
    font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.065em;
  margin-bottom: 24px;
    flex: 1 1 356px;
  }
  .popup__flex {
    display: flex;
    flex-direction: column;
  }
  .popup__login,
  .popup__password,
  .popup__phone {
    box-sizing: border-box;
    height: 38px;
    border-radius: 12px;
    border: 1px solid #cfd8dc;
    outline: none;
    font-size: 16px;
    line-height: 20px;
    padding-left: 16px;
    color: black;
  }
  .popup__passwordactive,
  .popup__loginactive,
  .popup__phoneactive {
    border: 1px solid #F58F29;
    transition: all 0.3s ease;
  }
  .popup__labelname{
    font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #3D2300;
  margin-bottom: 8px;
  margin-top: 0px;
  }
  .popup__label{
    display: flex;
    flex-direction: column;
    margin-bottom: 26px;
  }
  .popup__label.label__mail{
    margin-bottom: 38px;
  }
  .popup__subtext {
    font-size: 12px;
    line-height: 14px;
    color: #7b8e98;
    margin-bottom: 24px;
  }
  .popup__entrancebutton {
    height: 48px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    border-radius: 55px;
    outline: none;
    cursor: pointer;
  }
  .popup__entrancebutton {
    outline: none;
    border: none;
    font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #3D2300;
  background: #F58F29;
  border-radius: 8px;
  height: 54px;
  }
  .no_scroll{
    overflow: hidden;
  }